$color-green: #2bbc8a;
$color-dark-grey: #1d1f21;
$color-white: #fff;
$color-grey: #666;

$color-primary: $color-white;

$font-size-small: 1.3rem;
$font-size-text: 1.5rem;
$font-size-heading: 2.25rem;
